@font-face {
    font-family: "Astloch Regular";
    src: url('/fonts/Astloch-Regular.ttf');
}

@font-face {
    font-family: "Astloch Bold";
    src: url('/fonts/Astloch-Bold.ttf');
}

@font-face {
    font-family: "DoGothic16";
    src: url('/fonts/DotGothic16-Regular.ttf');
}


:root {
    --c-main: #52c080;
    --c-background: #050211;
}


body {
    background-color: var(--c-background);
}


#hero-title {
    font-size: 65px;
    font-family: "Astloch Regular", Helvetica, sans-serif;
    background: #8E0000;
    background: -webkit-linear-gradient(to bottom, #8E0000 24%, #000000 100%);
    background: -moz-linear-gradient(to bottom, #8E0000 24%, #000000 100%);
    background: linear-gradient(to bottom, #8E0000 24%, #000000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.terminal-text {
    font-family: "DoGothic16", Helvetica, sans-serif;
    color: var(--c-main);
}


.terminal-button {
    padding: 8px;
    transition: padding 0.1s ease-in 0ms;
    font-size: 18px;
    transition: font-size 0.1s ease-in 0ms;
    border: 1px dashed var(--c-main);
    text-decoration: none;
}

.terminal-button:hover {
    
    padding: 10px;
    transition: padding 0.1s ease-in 0ms;
    font-size: 19px;
    transition: font-size 0.1s ease-in 0ms;
    border: 1px dashed var(--c-main);
    text-decoration: none;
}


.profile-photo {
    border-radius: 100%;
}


.icon-link{
    color: var(--c-main);
}